.auth-page {
  min-height: 100vh;
  background: #f6f2ee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 25px 25px;
}

.auth-container {
  width: 1100px;
  height: 640px;
  background: white;
  display: grid;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  grid-template-columns: 38% 52%;
  border-radius: 20px;
  overflow: hidden;
}

.auth-left {
  position: relative;
  overflow: hidden;
  background: #111318;
}

.auth-left-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transform: none;
}

.auth-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 380px;
}

.auth-card h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

.auth-card label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 14px;
}

.auth-card small {
  font-size: 12px;
  color: #888;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #121212;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}

.auth-footer {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
}

.auth-footer a {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}

.error-list {
  background: #fdecea;
  color: #b71c1c;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

.error-list li {
  margin-left: 18px;
}

@media (max-width: 900px) {
  .auth-container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .auth-left {
    display: none;
  }
}
